################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Landing.slnx
/bin/Debug/net10.0
/obj
